<div [formGroup]="form">
    <div [ngSwitch]="question.controlType">
        <input *ngIf="question.hidden" type="hidden" [formControlName]="question.key">
        <mat-form-field appearance="outline" class="full-width" *ngIf="!question.hidden">
            <mat-label>{{question.label | translate}}</mat-label>

            <input matInput *ngSwitchCase="'textbox'" [placeholder]="question.value" [formControlName]="question.key" [type]="question.type">

            <mat-select *ngSwitchCase="'dropdown'" [formControlName]="question.key">
                <ng-container *ngIf="!question.options_observable">
                    <mat-option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</mat-option>
                </ng-container>
                <ng-container *ngIf="question.options_observable">
                    <mat-option *ngFor="let opt of observable_values" [value]="opt[question.options_observable_key]">{{opt[question.options_observable_value]}}</mat-option>
                </ng-container>
            </mat-select>

            <mat-icon matSuffix *ngIf="question.icon">{{question.icon}}</mat-icon>
            <mat-hint *ngIf="question.hint">{{question.hint}}</mat-hint>
            <mat-error *ngIf="form.get(question.key).errors?.required">{{"FORM.REQUIRED" |translate}}</mat-error>
            <mat-error *ngIf="form.get(question.key).errors?.email">{{"FORM.EMAIL" |translate}}</mat-error>
        </mat-form-field>

        <p *ngSwitchCase="'display'" class="display">
            <span>{{question.label | translate}} : </span>
            <ng-container *ngIf="question.translated; else notTranslated">{{question.value | translate}}</ng-container>
            <ng-template #notTranslated>
                <ng-container *ngIf="question.type === 'date'">{{question.value | date:'dd/MM/YYYY'}}</ng-container>
                <ng-container *ngIf="question.type !== 'date'">{{question.value}}</ng-container>
            </ng-template>
        </p>
    </div>
</div>