<h2 mat-dialog-title>{{"LOAN.PROLONGATION-REQUEST-DIALOG-TITLE" | translate}}</h2>
<mat-dialog-content>

    <p><span>{{"TABLE.LOAN-REQUEST-RESOURCE" | translate}} : </span>{{data.resource_name}}</p>

    <mat-form-field appearance="outline">
        <mat-label>{{"LOAN.PROLONGATION-REQUEST-DATE" | translate}}</mat-label>
        <input matInput [min]="data.end_date" [matDatepicker]="picker" [formControl]="endDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="endDate.errors?.required">{{"FORM.REQUIRED" |translate}}</mat-error>
        <mat-error *ngIf="endDate.errors?.matDatepickerParse">{{"FORM.DATE" |translate}}</mat-error>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-flat-button [mat-dialog-close]="null" cdkFocusInitial>{{"APP.CANCEL" | translate}}</button>
    <button mat-flat-button (click)="close()" color="primary" [disabled]="!endDate.valid" cdkFocusInitial>{{"TABLE.LOAN-ASK-PROLONGATION" | translate}}</button>
</mat-dialog-actions>