#welcome-title {
    margin-left: 5%;
    margin-right: 5%;
    color: #4353A2;
    margin-top: 0.5em;
    margin-bottom: 1em;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    line-height: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

mat-grid-tile {
    background-size: cover;
    //background-color: #DCD0F1;
    background-color: #C5B0E8;
    transition: background-color 0.3s;
    animation-name: fadeIn;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
    animation-duration: 0.8s;

    font-size: 20px;
    font-family: "Segoe UI";
    text-align: center;
}

@keyframes fadeIn {
    0% {opacity:0; transform: scale(0.9, 0.9);}
    100% {opacity:1; transform: scale(1, 1);}
}

mat-grid-tile:hover {
    //@at-root: #C5B0E8;
    background-color: #AE90DF;
}

#modules-grid {
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 0!important;
}

a {
    color: unset;
}

.module-title {
    display: flex;
    height: 100%;
    align-items: flex-end;

    span {
        padding-bottom: 5px;
    }
}