table {
    width: 100%;
}

.mat-form-field {
    width: 100%;
}

.spinner-table {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:1em;
    padding-bottom:1em;
}

td:nth-last-child(1) {
    width: 0;
}