<mat-form-field appearance="standard">
    <mat-label>{{"TABLE.FILTER" | translate}}</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input [formControl]="filter">
</mat-form-field>

<div>
  <table #table mat-table [dataSource]="dataSource" matSort>
    <ng-container [matColumnDef]="column.property" *ngFor="let column of columns">
      <!-- Définition de l'header -->
      <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="column.button"> {{column.name | translate}} </th>

      <!-- Définition des cellules -->
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="!column.button && !column.subproperty && !column.calculatedProperty">
          {{column.translated ? (formating(column, element[column.property]) | translate) : formating(column, element[column.property])}}
        </ng-container>
        <ng-container *ngIf="column.calculatedProperty">
          {{column.translated ? (formating(column, column.calculatedProperty(element)) | translate) : formating(column, column.calculatedProperty(element))}}
        </ng-container>
        <ng-container *ngIf="column.subproperty">
          {{column.translated ? (formating(column, element[column.property][column.subproperty]) | translate) : formating(column, element[column.property][column.subproperty])}}
        </ng-container>
        <!-- Boutons d'actions -->
        <ng-container *ngIf="column.button">
          <div class="buttons">
            <ng-container *ngFor="let button of column.buttons">
              <button *ngIf="(button.admin && connectionService.isAdmin()) || !button.admin" mat-raised-button [color]="button.buttonColor" (click)="button.buttonAction(element)"><mat-icon>{{button.buttonIcon}}</mat-icon> {{button.buttonText | translate}}</button>
            </ng-container>
          </div>
        </ng-container>
      </td>
    </ng-container>

    <!-- Géneration des rows -->
    <tr mat-header-row *matHeaderRowDef="columnsName"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsName;"></tr>

    <!-- Ligne si aucun résultat du filtre-->
    <tr class="mat-row" *matNoDataRow [style.display]="loading ? 'none' : ''">
      <td class="mat-cell" [attr.colspan]="columns.length">{{"TABLE.NO-MATCH" | translate}} "{{input.value}}"</td>
    </tr>

    <!-- Ligne si chargement -->
    <tr mat-header-row *matHeaderRowDef="loading ? ['loading'] : []" [style.display]="loading ? '' : 'none'" ></tr>

    <!-- Cellule spinner chargement -->
    <ng-container matColumnDef="loading">
      <th mat-header-cell [attr.colspan]="columns.length" *matHeaderCellDef>
        <div class="spinner-center">
          <mat-progress-spinner
            color="primary"
            mode="indeterminate">
          </mat-progress-spinner>
        </div>
      </th>
    </ng-container>

  </table>

  <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
</div>